.form-container {
  height: 100vh;
  background-color: white;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.form-container form {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-content-container input {
  border-radius: 8px;
  border: solid 1px black;
  padding: 0.5rem;
}
