.form-container {
  background-color: red;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-container form {
  display: flex;
  flex-direction: column;
  background-color: green;
  height: 80vh;
  width: 80vw;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-content-container input {
  border-radius: 8px;
  border: solid 1px black;
  padding: 0.5rem;
}
