.form-content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-content-container input {
  border-radius: 8px;
  border: solid 1px black;
  padding: 0.5rem;
}

.warning-container {
}

.warning-container label {
  color: red;
}
