.gen-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-container {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 0.25rem;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.gen-content-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
}

.gen-card-container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.05);
}

.left-gen-container {
  display: flex;
  width: 50%;
}

.right-gen-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
