<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block title %} {% endblock %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css
    " />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js
    "></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='/logo1-background.png') }}" type="image/x-icon" />

</head>

<body class="bg-$blue bg-gradient">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="{{ url_for('home.index') }}">
        <img src="{{ url_for('static', filename='/logo1-background.png') }}" height="65" alt="MDB Logo" loading="lazy"
          style="margin-top: -1px" />
      </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Password Manager</a>
          </li>
        </ul>
        {% if session.get('username') == None %}
        <div class="d-flex align-items-center">


          <button type="button" class="btn btn-link px-3 me-2" style="text-decoration: none"><a href="/login">Login</a>


          </button>
          <button class="btn btn-primary me-3">
            <a href="/gen" style="text-decoration: none; color: white">Password Generator</a>
          </button>


          <button type="button" class="btn btn-primary me-3">
            <a href="/signup" class="fix-link">Sign up for free</a>
          </button>

        </div>
        {% else %}



        <div class="d-flex align-items-center">
          <ul class="nav nav-pills">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">{{session.get('username')}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/account">Account Setting</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="/logout">Log Out</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gen">Password Generator</a>
            </li>
          </ul>

        </div>

        {% endif %}
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  {% block body %} {% endblock %}
</body>

</html>