{% extends 'base.html' %}
{% block title %}
<title>Data - Password Manager</title>

{% endblock %}
{% block body %}
<!-- User Data -->
<div class="container mt-5 mb-5">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">User Data</h5>
            <span class="card-text">
                <div class="container">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <table class="table table-hover">
                                <tr>
                                    <td>Total Saved Password</td>
                                    <td>{{total[0]}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </span>

        </div>
    </div>
</div>
<!-- User Data -->


{% endblock %}