{% extends 'base.html' %} {% block title %}
<title>Detail - Password Manager</title>
<link rel="stylesheet" href="/static/detail.css" />

{% endblock %} {% block body %}
<div class="detail-container">
  <table class="table table-hover">
    <thead>
      <th>ID</th>
      <th>Site</th>
      <th>Email</th>
      <th>Password</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody class="table-group-divider">
      {% for item in content %}
      <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>
          <button class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
