{% extends 'base.html' %} {% block title %}
<title>Sign Up - Password Manager</title>

{% endblock %} {% block body %}
<div class="banner container-fluid  text-center">
  <div class="row">
    <div class="col">
      <h1 style="padding-top: 36px">Password Manager</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="setting-border mt-5">
    <div class="row"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="container-fluid border">
          <div action="" class="box">
            <div class="text-center mt-3">
              <h1>Sign Up</h1>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <form action="" method="POST">
                    <div class="row">
                      <div class="col mb-4">
                        <span>Your Email</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4">
                        <input type="text" name="email" class="form-control" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4">
                        <span>Your Username</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4">
                        <input type="text" name="username" class="form-control" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col mb-4">
                        <span>Your Password</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <input type="password" name="password" class="form-control" />
                      </div>
                    </div>
                    <div class="row mt-5">
                      <div class="row">
                        <div class="col text-center mb-3">
                          <h5>
                            Already a member?
                            <a href="/login" style="text-decoration: none">Log In</a>
                          </h5>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col text-center mb-6">
                          <input type="submit" value="Create Account" class="btn btn-primary" />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row"></div>
  </div>
</div>

{% endblock %}